body {
  font-family: "Dongle", sans-serif;
  margin: 10px;
  height: 98vh;
  font-size: 2em;
}
.illustration {
  border-radius: 8px;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  box-sizing: content-box;
}
.illustration-container {
  display: flex;
  flex-direction: row;
  box-shadow: -9px 1px 16px -10px rgba(30, 27, 27, 0.75);
  -webkit-box-shadow: -9px 1px 16px -10px rgba(30, 27, 27, 0.75);
  -moz-box-shadow: -9px 1px 16px -10px rgba(30, 27, 27, 0.75);
}
.vertical_nav {
  background-color: rgb(36, 36, 56);
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.nav-img {
  width: 30px;
  height: 30px;
  padding: 10px 10px 10px;
}
.nav-img:hover {
  background-color: rgb(107, 99, 255);
  color: white;
}
.content-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(195, 185, 204);
}
.phone {
  height: 25px;
  padding: 5px;
  margin-top: -3px;
}
.box--sticky {
  position: sticky;
  background-color: rgb(36, 36, 56);
}
.box--sticky h1 {
  margin: 0px;
}
.box--sticky ul {
  display: flex;
}
.footer {
  display: -webkit-flex;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  margin: 17px;
  margin-left: 0;
}
.footer__left-element {
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
.footer-img {
  width: 30px;
  height: 30px;
  padding-left: 25px;
}
.footer-link {
  display: flex;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 10;
  overflow: auto;
}
#img--col {
  width: 50%;
  background-color: rgb(195, 185, 204);
  color: rgb(138 130 145);
}
.content-col {
  display: flex;
  flex-direction: column;
  line-height: 37px;
  font-size: 3rem;
}
.content-col h1 {
  width: 40%;
  line-height: 33px;
  margin: 0px;
  font-size: 2.5rem;
  color: rgb(22, 15, 65);
}
.content-col div {
  color: rgb(104, 83, 240);
  line-height: 30px;
  width: 37%;
  text-align: left;
  padding: 0 5px 0 0;
  font-size: 1.5rem;
  font-weight: 300;
}
a:hover,
a:active,
a:visited,
a:link {
  text-decoration: none;
}
.btn {
  padding: 5px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}
.btn1 {
  background-color: rgb(218, 40, 108);
}
.btn2 {
  background-color: rgb(137, 104, 226);
  color: black;
}
.btn3 {
  background-color: rgb(60, 59, 65);
  border: solid 1px rgb(73, 72, 78);
}
.footer__right-element {
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
}
.phone-text {
  color: white;
}
.phone-dimensions {
  padding-left: 5px;
  color: grey;
  font-weight: 300;
}
